version: '3.8'

services:
  # Database: Postgres
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"

  # Backend: Go Gin
  app:
    build: .
    env_file:
      - .env  # ดึงค่าจากไฟล์ .env ทั้งหมดเข้าไปเป็น Environment Variables
    depends_on:
      - db

  # Reverse Proxy: Nginx
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - app
